<!DOCTYPE html>
<html lang="nl-NL">

<head>
	<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.title }} – {{ site.description }}</title>

	{% include 'meta.html' %}

	<link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/style.css" />
	<link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

</head>

<body>
	{{ content }}
	{% include 'analytics.html' %}
</body>

</html>
