
//
// IMPORTS
//

@import "./reset";
@import "./variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: var(--color-grayscale-100);
  font: 18px/1.4 $helvetica;
  color: var(--color-grayscale-030);
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: var(--color-grayscale-020);
  font-weight: bold;

  line-height: var(--heading-line-height);
  margin: 1em 0 15px;
  padding: 0;

}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: var(--color-grayscale-060);
}

p {
  margin: 15px 0;
}

a {
  color: var(--color-accent);
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: var(--color-accent);
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: none;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

@import "highlights";
@import "svg-icons";

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: var(--color-grayscale-060);
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: var(--color-grayscale-090);
}
::selection {
  color: $black;
  background: var(--color-grayscale-090);
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: var(--space-measure) 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid $lightGray;
}
.site-info-wrapper {
  display: flex;
  align-items: flex-end;
  min-width: 300px;
}
.site-avatar {
  width: 70px;
  height: 70px;
  flex:0 0 70px;
  margin-right: var(--space-measure);
  img {
    border-radius: 5px;
  }
}

.site-name, .site-author {
  margin: 0;
  color: var(--color-grayscale-030);
  cursor: pointer;
  font-family: $helveticaNeue;
  text-align: left;
}

.site-description {
  margin: -5px 0 0 0;
  color: var(--color-grayscale-060);
  font-size: 16px;
}

nav {
  font-family: $helveticaNeue;
  font-size: 1.125rem;
  margin-top: 10px; 

  a {
    margin-left: var(--space-measure);
    color: var(--color-grayscale-030);
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;
  }

  > ul {
    padding-left:0;
    li > a {
      margin-left:0;
    }
  }

}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: var(--color-grayscale-060);
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: var(--color-grayscale-090);
}

footer {
  padding: 20px 0;
  text-align: center;
}

.paginator {
  display: flex;
  justify-content: center;

  a {
    margin: 0;
  }
  &-inner {
    display: inline-flex;
  }

  &-text, &-prev, &-next {
  	font-weight: 700;
  	padding-top: 0.5rem;
  	padding-bottom: 0.5rem;
  	padding-left: 1rem;
  	padding-right: 1rem;
  	--text-opacity: 1;
  	color: rgba(75, 85, 99, var(--text-opacity));
    background-color: transparent;
    background-image: none;
    border: none;
  }

  &-page {
    --text-opacity: 1;
    color: rgba(31, 41, 55, var(--text-opacity));

    padding-left: 1rem;
    padding-right: 1rem;
    
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    
    font-weight: 700;
    
    line-height: 1.5;
    --bg-opacity: 1;
    background-image: none;
    background-color: rgba(209, 213, 219, var(--bg-opacity));
    border: none;
  }

  :disabled {
    cursor: not-allowed;
  }
}