.__talkjs_popup {
  position: fixed;
  right: 0;
  border: 0;
  z-index: 50000;
  bottom: 77px;
  width: 390px;
  height: calc(75% - 77px);
  height: calc(75vh - 77px);
}
@media all and (max-width: 420px) and (min-width: 1px), all and (max-height: 420px) and (min-width: 1px) {
  .__talkjs_popup {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
  }
}
.__talkjs_launcher {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: 1000;
  background-color: #0785f2;
  background-position: center 17px;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  box-shadow: 2px 2px 19px 1px rgba(0,0,0,0.1);
}
.__talkjs_launcher.open {
  background-size: 18px;
  background-position: center 21px;
  background-image: url(/__assets/52ecaa1004f777b35d5b7b458bd3ef34.svg);
}
@media all and (max-width: 420px), all and (max-height: 420px) {
  .__talkjs_launcher.open {
    display: none;
  }
}
.__talkjs_launcher.closed {
  background-image: url(/__assets/35ba408c171428adfd2612500a280690.svg);
}
.__talkjs_launcher:hover {
  box-shadow: 2px 2px 19px 1px rgba(0,0,0,0.25);
}
